    <nav>
        <a href="{{ route('home') }}">Home</a>
        <a href="{{ route('movies.show', { slug: 'Tourist-family' }) }}">
            Tourist family
        </a>
        <a href="{{ route('movies.show', { slug: 'How-to-train-your-dragons' }) }}">
            How to train your dragons
        </a>
        <a href="{{ route('movies.show', { slug: 'Dark-Knight-the-trilogy' }) }}">
            Dark Knight the trilogy
        </a>
    </nav>